<GeneralContainer>
    {{#if this.index.isLoaded}}
    <div class="mt-5  content-grid content-grid--light">
        <div class="content-grid-top">
            <div class="inlineModuleHeader ">
                <div class="inlineModuleHeader__titleWrapper">
                    <h2 class="inlineModuleHeader__header">Characters</h2>
                </div>
                <div class="inlineModuleHeader__innerComponent">
                    <div class="content-grid-top__nav"></div>
                </div>
                <div class="inlineModuleHeader__innerComponent">
                    <div class="content-grid-top__nav">
                        <div class="sorting">
                            <div class="sorting__dropdown">
                                <div class="dropdown">
                                    <LinkTo @route="movies" class="btn btn-secondary" type="button">
                                        More
                                    </LinkTo>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-base grid__6 ">
            {{#each this.index.characters as |item| }}
            {{!-- {{item}} --}}
            <Card @src={{item.image}} @name={{item.name}} @id={{item.cid}} @alias={{item.alias}} @link={{true}} />
            {{/each}}
        </div>
    </div>
    {{else}}
        <div class="mt-5  content-grid content-grid--light">
        <div class="content-grid-top">
            <div class="inlineModuleHeader ">
                <div class="inlineModuleHeader__titleWrapper">
                    <h2 class="inlineModuleHeader__header">Featured Character</h2>
                </div>
                <div class="inlineModuleHeader__innerComponent">
                    <div class="content-grid-top__nav"></div>
                </div>
                <div class="inlineModuleHeader__innerComponent">
                    <div class="content-grid-top__nav">
                        <div class="sorting">
                            <div class="sorting__dropdown">
                                <div class="dropdown">
                                    <LinkTo @route="movies" class="btn btn-secondary" type="button">
                                        More
                                    </LinkTo>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-base grid__6 ">
            <LoadingMovieCard />
            <LoadingMovieCard />
            <LoadingMovieCard />
            <LoadingMovieCard />
            <LoadingMovieCard />
            <LoadingMovieCard />
        </div>
    </div>
    {{/if}}
</GeneralContainer>